ul{
    list-style-type: none;
    line-height: 2em;
}

ul li{
    position: relative;
    padding-left: 50px;
}

ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 50px;
    height: 1em;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 8px;
    height: 100%;
    border-left: 2px solid black;
}

ul li:last-child::after{
    display:none;
}

ul.tree > li:after, ul.tree > li:before{
    display: none;
}